* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}

body {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  color: var(--color-foreground);
  min-height: 100vh;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}